.info {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.info-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.info-icn {
  color: var(--accent-color);
  cursor: pointer;
  width: 1.5em !important;
  height: 1.5em !important;
}

.popup {
  overflow: hidden;
  background: linear-gradient(
    25deg,
    rgba(59, 132, 150, 1) 25%,
    rgba(59, 132, 150, 0.4) 75%
  );
  padding: 2rem;
  border-radius: 20px;
  text-align: right;
  font-size: 1.25rem;
  max-height: 200px;
  max-width: 60vw;
}

@media screen and (max-width: 600px) {
    .popup {
        max-height: 175px;
        padding: 1.25rem;
        font-size: 0.85rem;
    }
    .info {
        gap: 0.5rem;
    }
}
